body {
    font-family: 'News Cycle', sans-serif;
}

#cardContact {
    margin: 5% 1% 5% 1%;
    width: 200px;
}

#cardResilia {
    text-align: center;
    margin: 3%;
}

sectionContact {
    margin: 4% 6% 4% 6%;
}

cardContact {
    margin: 2%;
}

.card-title {
    text-align: center;
    padding: 5px;
    padding-bottom: 15px;
}

#hyperlink {
    text-decoration: none;
    color: #000000;
}

