#contacts {
    margin: 5% 0% 5% 0%;
}
#cardIndiv {
    display: flex;
    margin: 1% 5% 1% 31%;
    width: 35%;
    border: solid lightgray 2px;
    border-radius: 3px;
}

#cardIndiv div {
    padding: 5px;
    padding-left: 20px;
}

#photo {
    width: 154px;
    height: 154px;
    object-fit: cover;
    object-position: 0 0%;
}

.card-title {
    text-align: center;
    padding: 2px;
}

#resilia {
    text-align: center;
    margin-bottom: 5%;
}

#descr {
    font-size: 17px;
    font-weight: 500;
    font-style: italic;
}

#hyperlink {
    text-decoration: none;
    color: #000000;
}
