.infos {
    text-align: center;
    padding: 40px;
}

#poster {
    width: 300px;
    height: auto;
    margin: 30px;
}

#divTrailer{
    text-align: center;
}
  
#trailerView{
    width: 900px;
    height: 500px;
    margin-bottom: 30px;
}

#infoMovie{
    text-align: center;
    color: whitesmoke;
}

#mainInfoMovieDiv{
    display: flex;
    text-align: left;
    justify-content: space-evenly;
}

#imdb{
    width: 70px;
    height: 70px;
}

#movieRating{
    display: flex;
}
  
#rating{
    text-align: left;
    margin-top: 17px;
    margin-left: 10px;
    font-size: 25px;
    line-height: 0.7;
}

#votes{
    font-size: 12px;
}

#star{
    height: 15px;
    width: 15px;
    vertical-align: top;
    margin-top: 2px;
    margin-left: 5px;
}

#movieContentDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

#movieContent{
    text-align: left;
    font-size: 20px;
    height: 444px;
}

.movieData{
    max-width: 55ch;
    height:23%;
}

#actors{
    margin-top: 40px;
}

#director{
    margin-top: 40px;
}

#awards{
    margin-bottom: 0;
}

#trailer{
    margin-top: 50px;
    color: whitesmoke;
}

.error{
    margin-top: 10%;
    font-size: 25px;
    color: red;
}

.background {
	-webkit-animation: color-change-3x 2s linear infinite alternate both;
	        animation: color-change-3x 2s linear infinite alternate both;
}

 @-webkit-keyframes color-change-3x {
  0% {
    background: #0b132b;
  }
  50% {
    background: #101b3d;
  }
  100% {
    background: #1c2541;
  }
}
@keyframes color-change-3x {
  0% {
    background: #1c2541;
  }
  50% {
    background: #101b3d;
  }
  100% {
    background: #1c2541;
  }
}

#btnSearchNav{
    color: rgba(255,255,255,.5);
}

#btnSearchNav:hover{
    color: whitesmoke;
}

.navColor {
    background-color: #293361;
}

main{
    margin-top: 100px;
}

.footerColor {
    background-color: #293361;
    color: #97ccf9;
    padding-top: 15px;
}

.containerForm {
    display: flex;
}
  