
.cards {
    display: flex;
    justify-content: center;
    margin: 8px;
    width: 19%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.movieImg{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.overlayItems {
    width: 0;
    height: 100%;
    margin: 0px 10px 0 10px;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    overflow: hidden;
    opacity: 0.8;
    padding: 2%;
    transition: 0.4s ease;
    position: absolute;
    z-index: 1;
    top: 0;
    left: -10%;
}

.movieInfo{
  margin: 8%;
  color: white;
 margin:  0px 14px 0px 10px;
  position: absolute;
  top: 10%;
  left: 5%;

}

.title {
  font-size: x-large;
}

.cards:hover .overlayItems{
    width: 110%;

    
}

#showcase {
    margin-top: 40px;
    margin-bottom: 40px;
}


