#loginForm{
    padding-top: 2%;
    min-width: 300px;
}
#inputUser{
    text-align: center;
    margin-bottom: 8%;
}
#inputPassword{
    text-align: center;
}
#sendEmail{
    width: 50%;
    margin-top: 8%;
}
#recoverPassword a{
    list-style: none;
    color: whitesmoke;
}
#recoverPassword{
    width: 50%;
}