.background {
    padding-top: 56px;
      -webkit-animation: color-change-3x 2s linear infinite alternate both;
              animation: color-change-3x 2s linear infinite alternate both;
  }
  
   @-webkit-keyframes color-change-3x {
    0% {
      background: #0b132b;
    }
    50% {
      background: #101b3d;
    }
    100% {
      background: #1b2541;
    }
  }
  @keyframes color-change-3x {
    0% {
      background: #0b132b;
    }
    50% {
      background: #101b3d;
    }
    100% {
      background: #1b2541;
    }
  }
  
  .navColor {
    background-color: #293361;
  }
  
  .logo {
    height: 40px;
  }
  
  .turbo {
      font-family: 'Rowdies', cursive;   
      margin-left: 5px;
      margin-right: 0;
  }
  
  .flix {
    font-family: 'Rowdies:wght@700', cursive;
    font-size: light 300;
    padding-right: 28px;
  }
  
  .backgroundSearch {
   background-color: #fdfdffc7; 
   height: 30px;
   width: 25px;
  }
  
.containerForm {
    display: flex;
  }
  
  .buttonSearch {
    padding-left: 2px;
  }
  
  .footer {
    background-color: #293361;
    color: #ffffff80;
    padding-top: 15px;
    position: absolute;
    bottom:0;
    width:100%;
  }
  
  #cadastroUsu{
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 100px;
}

#infos{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #778899;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 5px;
}

#infoSenha{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #778899;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 5px;
}

#infoEndereco{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #778899;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 5px;
}

.form-group{
    margin-left: 30px;
}

#inputNome{
    width: 200px;   
}

#inputSobrenome{
    width: 400px;   
} 

#btnCadastroForm{
    display: flex;
    justify-content: center;    
}

#userAdress{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 5px;
}

.carousel-indicators li{
  border: 1px solid black;
  color: black;
  background-color: black;
}

#sec-controls{
  display: flex;
  width: 40%;
  margin: 0 auto;
  justify-content: center;
}

#sec-controls li{
  list-style: none;
  width: 10%;
  height: 30px;
  text-align: center;
}

.formTitle{
    color: #5BC0BE;
}