.background {
	-webkit-animation: color-change-3x 2s linear infinite alternate both;
	        animation: color-change-3x 2s linear infinite alternate both;
}

 @-webkit-keyframes color-change-3x {
  0% {
    background: #0b132b;
  }
  50% {
    background: #101b3d;
  }
  100% {
    background: #1c2541;
  }
}
@keyframes color-change-3x {
  0% {
    background: #1c2541;
  }
  50% {
    background: #101b3d;
  }
  100% {
    background: #1c2541;
  }
}
.mainForm {
    color: whitesmoke;
    margin-top: 3%;
    margin-bottom: 5%;
}
.formContainer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #778899;
    width: 100%;
    padding-top: 3%;
    min-height: 300px;
    margin-bottom: 5px;
    background-color: #293361c9;

}

.form-group{
    margin-left: 30px;
}

#btnCadastroForm{
    display: flex;
    justify-content: center;    
}

#userAdress{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 5px;
}

.carousel-indicators li{
  border: 1px solid black;
  color: black;
  background-color: black;
}

#sec-controls{
  display: flex;
  width: 40%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
}

#sec-controls li{
  list-style: none;
  width: 30px;
  height: 30px;
  text-align: center;
}

.formTitle{
    color: #5BC0BE;
}

/* Formulario novo*/

.form-style-10{
	width:60%;
	padding:30px 30px 0px 30px;
	margin: 0 auto;
	margin-top: 70px;
	background:#293361c9;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}
.form-style-10 .inner-wrap{
	width: 80%;
	margin: 0 auto;
	
	
}
.form-style-10 .inner-wrap label{
	color: whitesmoke;
}
.form-style-10 h1{
	background: #2A88AD;
	padding: 20px 30px 15px 30px;
	margin: -30px -30px 30px -30px;
	border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px 'Bitter', serif;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
}
.form-style-10 h1 > span{
	display: block;
	margin-top: 2px;
	font: 13px Arial, Helvetica, sans-serif;
}
.form-style-10 label{
	display: block;
	font: 13px Arial, Helvetica, sans-serif;
	color: #888;
	margin-bottom: 15px;
}
.form-style-10 input[type="text"],
.form-style-10 input[type="date"],
.form-style-10 input[type="datetime"],
.form-style-10 input[type="email"],
.form-style-10 input[type="number"],
.form-style-10 input[type="search"],
.form-style-10 input[type="time"],
.form-style-10 input[type="url"],
.form-style-10 input[type="password"],
.form-style-10 textarea,
.form-style-10 select {
	display: block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 8px;
	margin-top: 5px;
	margin-bottom: 10px;

}

.form-style-10 .section{
	font: normal 20px 'Bitter', serif;
	color: #2A88AD;
	margin-bottom: 20px;
}
.form-style-10 .section span {
	background: #2A88AD;
	padding: 5px 10px 5px 10px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border: 4px solid #fff;
	font-size: 10px;
	color: #fff;
	margin-right: 10px;
}
.form-style-10 input[type="button"], 
.form-style-10 input[type="submit"]{
	background: #2A88AD;
	padding: 8px 20px 8px 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px 'Bitter', serif;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
	font-size: 15px;

}
.form-style-10 input[type="button"]:hover, 
.form-style-10 input[type="submit"]:hover{
	background: #2A6881;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}
.form-style-10 .privacy-policy{
	float: right;
	width: 250px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #4D4D4D;
	margin-top: 10px;
	text-align: right;
}
.flexJustifyCenter{
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

#footer{
    bottom: 0;
}