#cadastroUsu{
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 100px;
}
#infos{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #778899;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 5px;
}
#infoSenha{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #778899;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 5px;
}
#infoEndereco{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #778899;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 5px;
}
.form-group{
    margin-left: 30px;
}
#inputNome{
    width: 200px;   
}
#inputSobrenome{
    width: 400px;   
} 
#btnCadastroForm{
    display: flex;
    justify-content: center;    
}
#userAdress{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 5px;
}
.carousel-indicators li{
  border: 1px solid black;
  color: black;
  background-color: black;
}
#sec-controls{
  display: flex;
  width: 40%;
  margin: 0 auto;
  justify-content: center;
}
#sec-controls li{
  list-style: none;
  width: 10%;
  height: 30px;
  text-align: center;
}

.formTitle{
    color: #5BC0BE;
}