.background {
	-webkit-animation: color-change-3x 2s linear infinite alternate both;
	        animation: color-change-3x 2s linear infinite alternate both;
}

 @-webkit-keyframes color-change-3x {
  0% {
    background: #0b132b;
  }
  50% {
    background: #101b3d;
  }
  100% {
    background: #1c2541;
  }
}
@keyframes color-change-3x {
  0% {
    background: #1c2541;
  }
  50% {
    background: #101b3d;
  }
  100% {
    background: #1c2541;
  }
}

.navColor {
  background-color: #293361;
}

.backgroundSearch {
 background-color: #5e709ab0; 
}

.containerForm {
  display: flex;
}

.footerColor {
  background-color: #293361;
  color: #97ccf9;
  padding-top: 15px;
}


#btnSearch{
  color: rgba(255,255,255,.5);
}

#btnSearch:hover{
  color: whitesmoke;
}

.mainForm{
    color: whitesmoke;
    margin-top: 200px;
}

.formField{
    width: 150%;
}

.recoveryMsg{
    max-width: 40ch;
    margin-bottom: 50px;
    padding-top: 20px;
}

.formWidth{
    width: 30%;
    height: auto;
    background-color: #293361c9;
}

.sendButton{
    margin-bottom: 20px;
    margin-top: 10px;
}

#successErrorMsg{
    margin-bottom: 20px;
}

@media (max-width: 576px){

  .containerForm{
    flex-direction: column-reverse;
  }
  .form-inline {
    flex-flow: nowrap;
  }
  #showcase{
    flex-direction: column;
    align-items: center;
  }

  .mainForm {
    margin-top: 150px;
  }

  .formWidth {
    width: 70%;
  }

  .formField {
    width: 90%;
  }

  .recoveryMsg {
    padding: 20px 10px 10px;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .containerForm{
    flex-direction: column-reverse;
  }
  .form-inline {
    flex-flow: nowrap;
  }


}