.background {
  padding-top: 56px;
	-webkit-animation: color-change-3x 2s linear infinite alternate both;
	        animation: color-change-3x 2s linear infinite alternate both;
}

 @-webkit-keyframes color-change-3x {
  0% {
    background: #0b132b;
  }
  50% {
    background: #101b3d;
  }
  100% {
    background: #1b2541;
  }
}
@keyframes color-change-3x {
  0% {
    background: #0b132b;
  }
  50% {
    background: #101b3d;
  }
  100% {
    background: #1b2541;
  }
}

.navColor {
  background-color: #293361;
}

.logo {
  height: 40px;
}

.turbo {
    font-family: 'Rowdies', cursive;   
    margin-left: 5px;
    margin-right: 0;
}

.flix {
  font-family: 'Rowdies:wght@700', cursive;
  font-size: light 300;
  padding-right: 28px;
}

.backgroundSearch {
  background-color: #fdfdffc7; 
  height: 30px;
  width: 25px;
 }

.containerForm {
  display: flex;
}

.buttonSearch {
  padding-left: 2px;
}

.footerColor {
  background-color: #293361;
  color: #ffffff80;
  padding-top: 15px;
  position: absolute;
  width:100%;
}


#btnSearch{
  color: rgba(255,255,255,.5);
}

#btnSearch:hover{
  color: whitesmoke;
}

.mainForm{
    color: whitesmoke;
    margin-top: 150px;
}

.formField{
    width: 150%;
}

.recoveryMsg{
    max-width: 40ch;
    margin-bottom: 50px;
    padding-top: 20px;
}

.formWidth{
    width: 30%;
    height: auto;
    background-color: #293361c9;
}

.sendButton{
    margin-bottom: 20px;
    margin-top: 10px;
}

#successErrorMsg{
    margin-bottom: 20px;
}